
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: black;
}

.estreno-carr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.proximo-estreno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.proximo-estreno img {
    width: 300px;
}
#carouselExampleDark{
    width: 800px;
    margin-right: 0;
}

.fases {
    background-image: url(../assets/wakanda.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cine {
    font-family: 'Bebas Neue', cursive;
}

img {
    transform-style: all 0.10s;
}

.fase:hover img {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.fas {
    overflow: hidden;
}


