
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
}

body {
    background-color: black;
}

.estreno-carr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.proximo-estreno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.proximo-estreno img {
    width: 300px;
}
#carouselExampleDark{
    width: 800px;
    margin-right: 0;
}

.fases {
    background-image: url(../assets/wakanda.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.cine {
    font-family: 'Bebas Neue', cursive;
}

img {
    transition: all 0.3s;
}

.fase {
    transition: all 0.3s;
}

.fase:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}

.fas {
    overflow: hidden;
}

.boton {
    transition: all 0.3s;
}

.boton:hover {
    transform: scale(1.4);
    box-shadow: 0px 1px 2px 3px rgb(199, 214, 112);
}


@media only screen and (max-width: 800px) {

    .estreno-carr {
        display: flex;
        flex-direction: column;
    }

    .fase-1-2 {
        align-items: center;
        justify-content: center;
    }
}
